/* Aplica a todo */
*{
	margin: 0;
	padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
span{
    font-family: var(--font-sec);
    background-color: transparent;
    color: var(--azul-oscuro);
    font-weight: 600;
    font-size: 16px;
}
p{
	font-family: var(--font-sec);
	background-color: transparent;
    color: var(--azul-oscuro);
    font-size: 16px;
    
}
h1, h2, h3,h4, button{
	font-family: var(--font-main);
	background-color: transparent ;
    color: var(--azul-oscuro);
}

/* Global settings */


main {
    margin: 0 100px;
    gap: 20px;
    padding: 30px 20px;
}

.news-section {
    min-height: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-section-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-section-title img {
    width: 35px;
    height: auto;
}

.news-section-title h2 {
    font-size: 1.5em;
    font-weight: 700;
}



.news-link {
    text-decoration: none;
}

.news-item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 5fr; 
    height: 250px;                  
    margin: 30px;
    border-radius: 10px;
    border: var(--azul-oscuro) solid 2px;
}

.news-item-img {
    height: 250px;                  /* Height of the image container */
    width: 100%;                    /* Width to fill its parent (news-item) */
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-item-img img {
    min-height: 90%; 
    max-height: 90%;          
    min-width: 90%;                    
    max-width: 90%;              
    object-fit: cover;             
    object-position: center;      
    border-radius: 10px;      
    border: var(--azul-oscuro) solid 2px;   
}

.news-item-desc{
    padding: 15px;
    border-left: var(--azul-oscuro) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-item-desc h3{
    font-weight: 799;
    padding-bottom: 10px;
}


