/* Aplica a todo */
*{
	margin: 0;
	padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
    --celeste: #b0e4ff;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
span{
    font-family: var(--font-sec);
    background-color: transparent;
    color: var(--azul-oscuro);
    font-weight: 600;
    font-size: 16px;
}
p{
	font-family: var(--font-sec);
	background-color: transparent;
    color: var(--azul-oscuro);
    font-size: 16px;
    
}
h1, h2, h3,h4, button{
	font-family: var(--font-main);
	background-color: transparent ;
    color: var(--azul-oscuro);
}


main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
    padding: 30px 20px;
}

.cart-section {
    min-height: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-section-title, .cart-aside-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-section-title img, .cart-aside-title img {
    width: 35px;
    height: auto;
}

.cart-section-title h2, .cart-aside-title h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.cart-aside {
    padding: 20px; 
    border-radius: 8px;
    min-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--celeste);
    border: var(--azul-oscuro) 2px solid;
}

.cart-link {
    text-decoration: none;
}

.cart-item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 5fr; 
    height: 250px;                  
    margin: 30px;
    border-radius: 10px;
    border: var(--azul-oscuro) solid 2px;
}

.cart-item-img {
    height: 250px;                  
    width: 100%;                 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-img img {              
    height: auto; 
    max-height: 90%;          
    width: auto;                    
    max-width: 90%;               
    object-fit: cover;             
    object-position: center;     
    filter: drop-shadow(0 0 10px var(--verde));
   
}

.cart-item-desc{
    padding: 15px;
    border-left: var(--azul-oscuro) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-desc h3{
    font-weight: 799;
    padding-bottom: 10px;
}

