/* Aplica a todo */
*{
	margin: 0;
	padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
    --celeste: #b0e4ff;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
span{
    font-family: var(--font-sec);
    background-color: transparent;
    color: var(--azul-oscuro);
    font-weight: 600;
    font-size: 16px;
}
p, label{
	font-family: var(--font-sec);
	background-color: transparent;
    color: var(--azul-oscuro);
    font-size: 16px;
    
}
h1, h2, h3,h4, button{
	font-family: var(--font-main);
	background-color: transparent ;
    color: var(--azul-oscuro);
}


main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
    padding: 30px 20px;
    min-height: 55vh;
}

.cart-section {
    min-height: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-section-title, .cart-aside-title {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.cart-section-title img, .cart-aside-title img {
    width: 35px;
    height: auto;
}

.cart-section-title h2, .cart-aside-title h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.cart-aside {
    padding: 20px; 
    border-radius: 8px;
    min-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--celeste);
    border: var(--azul-oscuro) 2px solid;
}

.cart-link {
    text-decoration: none;
}

.cart-item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 5fr; 
    height: 250px;                  
    margin: 30px;
    border-radius: 10px;
    border: var(--azul-oscuro) solid 2px;
}

.cart-item-img {
    height: 250px;                  
    width: 100%;                 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-img img {              
    height: auto; 
    max-height: 90%;          
    width: auto;                    
    max-width: 90%;               
    object-fit: cover;             
    object-position: center;     
    filter: drop-shadow(0 0 10px var(--verde));
   
}

.cart-item-desc {
    padding: 15px;
    border-left: var(--azul-oscuro) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* Adjust this value to control the spacing between items */
}

.price-row, .cant-row {
    display: flex;
    align-items: center; /* Aligns the items vertically in the center */
    gap: 10px; 
}

.price-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-control form {
    display: inline-block;
}

.price-container {
    display: inline-block;
    font-weight: bold;
}


.price {
    color: var(--azul-oscuro);
}


.cart-item-desc h2, .cant-row h3{
    font-weight: 799;
    padding-bottom: 10px;
}

.increase-quantity, .decrease-quantity {
    background-color: var(--azul-oscuro);
    color: var(--blanco-fondo);
    border: none;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

.delete-item{
    background-image: url(/public/img/order_page_icons/delete_icon.svg);
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}


.pagar{
    background-color: var(--azul-oscuro);
    color: var(--blanco-fondo);
    border: none;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#payment-method{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid var(--azul-oscuro);
    background-color: var(--blanco-fondo);
    color: var(--azul-oscuro);
    font-family: var(--font-sec);
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;

}

.cart-aside ul li{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid var(--azul-oscuro);
    margin: 5px;
}
.cart-aside h2{
    margin: 10px 0;
}

.cart-aside p{
    margin: 10px 10px;
}