/* Aplica a todo */
*{
	margin: 0;
	padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
body{
	background-color: var(--blanco-fondo);
}

p{
	font-family: var(--font-sec);
	background-color: transparent;
}
h1, h2, h3, button{
	font-family: var(--font-main);
	background-color: transparent ;
}




/* Logo */
.logo{
	height: 50px;
}
/* Iconos */
.icono{
	height: 42px;
	border-radius: 20px;
}
 
/* Header */
#header-content ul { 
	height: 70px;
	margin: 5px; 
	list-style-type: none; 
	display: flex;
    justify-content: center;
    align-items: center; 
	} 
 
#header-content ul li {  
	display: inline; 
	margin: 0 20px;
	} 
 

#header-content ul li .search-form {
	display: flex;
    justify-content: center;
	align-items: center; 
	
	}
	
#header-content ul li .search-form input[type="search"] {
	margin-right: 20px;
	width: 50vw;
	padding: .3em 1em;
	font-size: 16px;
	border: 2px solid var(--azul-oscuro);
	border-radius: 30px;
	background-color: var(--blanco-fondo);
	color: var(--azul-oscuro);
	outline: none;
	}

#header-content ul li .search-form button {
    background-image: url(/public/img/header_icons/search_icon.png);
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
	color: var(--blanco-fondo);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	}
 
#header-content ul li a:hover { 
	color: #000; 
	background-color: var(--blanco-fondo); 
	} 


/* Navbar */
#navbar ul {
    height: 45px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--azul-oscuro);
}

#navbar ul li {  
    display: inline; 
	margin: 3vw;
}

#navbar ul li a {
    font-family: var(--font-main);
    text-decoration: none;
    font-weight: 600;
    padding: .2em 0;
    color: var(--blanco-fondo);
    background-color: var(--azul-oscuro);
    position: relative;
    display: inline-block; /* Ensures the pseudo-element aligns with the word */
}

#navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 4px; 
    background-color: var(--blanco-fondo);
    transition: width 0.2s ease; 
}

#navbar ul li a:hover::after {
    width: 100%; 
}
