*{
    margin: 0;
    padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
.confirmation-header {
    color: var(--azul-oscuro);
    padding: 1.5rem;
    text-align: center;
}

.order-summary {
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.order-summary h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#order-details {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
}

#order-details li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.order-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}

.consulta p{
    text-align: center;
}