/* Aplica a todo */
*{
	margin: 0;
	padding: 0;
}

:root{
	--blanco-fondo: #f6f4f3;
	--verde: #D9F203;
	--celeste: #B0E4FF;
	--azul-claro: #2891FF;
	--azul-oscuro: #071952;
	--font-main: 'League Spartan', sans-serif; 
	--font-sec: 'Garet', sans-serif;
}
span{
    font-family: var(--font-sec);
    background-color: transparent;
    color: var(--azul-oscuro);
    font-weight: 600;
    font-size: 16px;
}
p{
	font-family: var(--font-sec);
	background-color: transparent;
    color: var(--azul-oscuro);
    font-size: 16px;
    
}
h1, h2, h3,h4, button, a{
	font-family: var(--font-main);
	background-color: transparent ;
    color: var(--azul-oscuro);
}

.administracion{
  text-align: center;
  margin: 20px;
  width: 100%;
}

.administracion ul li a {
    text-decoration: solid underline;
    color: var(--azul-oscuro);
}

.administracion ul li{
    list-style: none;
    display: inline;
    margin: 20px;
}
.administracion h2, h1{
    margin: 20px;
}

.administracion img{
    width: 300px;
    border-radius: 50%;
    margin: 30px;
}
